{% extends "layout.html.twig" %}

{% block title %}Panier / Test Choosit{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item active">Panier</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Mon panier</h1>

    {% if listItems|length > 0 %}

        <div class="card">
            <ul class="list-group list-group-flush">
                {% for item in listItems %}
                    <li class="list-group-item d-flex mt-3">
                        <div class="mr-2">
                            <a href="{{ path('product_details', {slug: item.product.slug}) }}">
                                <img src="{{ vich_uploader_asset(item.product, 'imageFile') }}"
                                     alt="image du produit {{ item.product.name }}"
                                     width="200px" class="img-thumbnail"/>
                            </a>
                        </div>
                        <div class="align-self-center">
                            <h5>
                                {{ item.product.name }}
                                <span class="badge badge-secondary font-weight-light">
                                    {{ item.product.price }}€
                                </span>
                            </h5>
                            <p class="m-0">
                                Quantité : {{ item.quantity }}
                                <a href="{{ path('product_details', {slug: item.product.slug}) }}">Modifier</a>
                            </p>
                            <p class="m-0">Sous-total : {{ item.quantity * item.product.price }}€</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="card-body">
                <p class="card-text">Quantité totale :
                    <strong>
                        {{ cartSession.totalQuantity }} produit{{ cartSession.totalQuantity > 1 ? "s" }}
                    </strong></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <span class="align-self-center">Somme totale :
                    <strong>{{ cartSession.totalPrice }}€</strong>
                </span>
                <a href="{{ path('empty_cart_action') }}" class="btn btn-danger">
                    Vider le panier
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            <p class="mb-0"><i class="fas fa-info-circle"></i> Votre panier est vide !</p>
            <p class="m-0">
                <a href="{{ path('product_list') }}">Consulter la liste des produits disponibles</a>
                pour le remplir
            </p>
        </div>
    {% endif %}
{% endblock %}