{% extends "layout.html.twig" %}

{% block title %}Panier / Test Choosit{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item active">Panier</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Mon panier</h1>

    {% if listProducts|length > 0 %}

        <div class="card">
            <ul class="list-group list-group-flush">
                {% set sum = 0 %}
                {% for item in listProducts %}
                    <li class="list-group-item d-flex mt-3">
                        <div class="mr-2 align-self-center">
                            <img src="{{ asset('build/images/' ~ item.product.slug ~ '.jpg') }}"
                                 alt="image du produit {{ item.product.name }}"
                                 width="100px" class="img-thumbnail"/>
                        </div>
                        <div>
                            <h5>
                                {{ item.product.name }}
                                <span class="badge badge-secondary font-weight-light">
                                    {{ item.product.price }}€
                                </span>
                            </h5>
                            <p class="m-0">
                                Quantité : {{ item.quantity }}
                                <a href="{{ path('product_details', {slug: item.product.slug}) }}">Modifier</a>
                            </p>
                            <p class="m-0">Sous-total : {{ item.quantity * item.product.price }}€</p>
                        </div>
                    </li>
                    {% set sum = sum + (item.product.price * item.quantity) %}
                {% endfor %}
            </ul>
            <div class="card-footer d-flex justify-content-between">
                <span class="align-self-center">Somme totale : <strong>{{ sum }}€</strong></span>
                <a href="{{ path('empty_cart_action') }}" class="btn btn-danger">
                    Vider le panier
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            <p class="mb-0"><i class="fas fa-info-circle"></i> Votre panier est vide !</p>
            <p class="m-0">
                <a href="{{ path('product_list') }}">Consulter la liste des produits disponibles</a>
                pour le remplir
            </p>
        </div>
    {% endif %}
{% endblock %}