{% extends "layout.html.twig" %}

{% block title %}{{ product.name }} / {{ 'product.details'|trans }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">{{ 'home'|trans }}</a></li>
            <li class="breadcrumb-item">
                <a href="{{ path('product_list') }}">{{ 'product.list'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}"
                 alt="{{ 'product.image'|trans }} {{ product.name }}" class="img-thumbnail"/>
        </div>
        <div class="col-sm-7">
            <h1>{{ product.name }}
                <span class="badge badge-secondary font-weight-light">{{ product.price }}€</span>
            </h1>
            <p>{{ product.description }}</p>

            <form action="{{ cartSession.quantityByProduct(product) > 0 ?
                                path('edit_quantity_action', {slug: product.slug}) :
                                path('add_to_cart_action', {slug: product.slug}) }}"
                  method="post" class="input-group">
                <input type="number" name="quantity"
                       min="0" class="form-control"
                       value="{{ cartSession.quantityByProduct(product) > 0 ?
                       cartSession.quantityByProduct(product) }}"
                       placeholder="{{ 'quantity.self'|trans }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        {% if cartSession.quantityByProduct(product) > 0 %}
                            {{ 'quantity.update'|trans }}
                            <i class="fas fa-edit"></i>
                        {% else %}
                            {{ 'cart.add'|trans }}
                            <i class="fas fa-cart-plus"></i>
                        {% endif %}
                    </button>
                    {% if cartSession.quantityByProduct(product) > 0 %}
                        <a href="{{ path('details_remove_from_cart_action', {slug: product.slug}) }}"
                           class="btn btn-secondary" type="submit">
                            {{ 'cart.remove'|trans }}
                            <i class="fas fa-times"></i>
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block btn_json %}
    <a href="{{ path('json_product_by_id', {id: product.id}) }}" class="btn btn-outline-light" target="_blank">
        <i class="fas fa-download"></i>
        {{ product.name }} {{ 'product.json.single'|trans }}
    </a>
{% endblock %}