{% extends "layout.html.twig" %}

{% block title %}{{ product.name }} / Détails du produit / Test Choosit{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('product_list') }}">Liste des produits</a></li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <img src="{{ asset('build/images/' ~ product.slug ~ '.jpg') }}"
                 alt="image du produit {{ product.name }}" class="img-thumbnail"/>
        </div>
        <div class="col-8">
            <h1>{{ product.name }}
                <span class="badge badge-secondary font-weight-light">{{ product.price }}€</span>
            </h1>
            <p>{{ product.description }}</p>

            <form action="{{ path('add_to_cart_action', {slug: product.slug}) }}"
                  method="post" class="input-group">
                <input type="number" name="quantity"
                       min="0" class="form-control"
                       value="{{ cartSession.quantityByProduct(product) > 0 ?
                       cartSession.quantityByProduct(product) }}"
                       placeholder="Quantité">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        Ajouter au panier
                        <i class="fas fa-cart-plus"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}