{% extends "layout.html.twig" %}

{% block title %}{{ 'product.list'|trans }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">{{ 'home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'product.list'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>{{ 'product.list'|trans }}</h1>
    <hr/>

    <div class="row">
        {% for product in products %}
            <div class="col-sm-4 mb-3">
                <div class="card h-100">
                    <a href="{{ path('product_details', {slug: product.slug}) }}">
                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}"
                             class="card-img-top" alt="{{ 'product.image'|trans }} {{ product.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ product.name }}
                            <span class="badge badge-secondary font-weight-light">{{ product.price }}€</span>
                        </h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <a href="{{ path('product_details', {slug: product.slug}) }}" class="btn btn-light">
                            <i class="fas fa-search-plus"></i>
                            {{ 'product.details'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block btn_json %}
    <a href="{{ path('json_all_products') }}" class="btn btn-outline-light" target="_blank">
        <i class="fas fa-download"></i>
        {{ 'product.json.all'|trans }}
    </a>
{% endblock %}