{% extends "layout.html.twig" %}

{% block title %}Liste des produits / Test Choosit{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item active">Liste des produits</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Liste des produits</h1>
    <hr/>

    <div class="row">
        {% for product in products %}
            <div class="col-sm-4 mb-3">
                <div class="card h-100">
                    <a href="{{ path('product_details', {slug: product.slug}) }}">
                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}"
                             class="card-img-top" alt="image du produit {{ product.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ product.name }}
                            <span class="badge badge-secondary font-weight-light">{{ product.price }}€</span>
                        </h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        <a href="{{ path('product_details', {slug: product.slug}) }}" class="btn btn-light">
                            <i class="fas fa-search-plus"></i>
                            Détails du produit
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}